{
  "branches": [
    "main",
    "master"
  ],
  "plugins": [
    "@semantic-release/github",
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "type": "feat",
            "release": "minor"
          },
          {
            "type": "fix",
            "release": "patch"
          },
          {
            "type": "perf",
            "release": "patch"
          },
          {
            "type": "revert",
            "release": "patch"
          },
          {
            "breaking": true,
            "release": "major"
          }
        ],
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "parserOpts": {
          "noteKeywords": [
            "BREAKING CHANGE",
            "BREAKING CHANGES"
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "lib/**/version.rb"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "semantic-release-rubygem"
  ]
}
